input{
    border: none;
    padding: 20px;
    background-color: rgba(126, 121, 121, 0.774);
    border-radius: 20px;
    width: 20vw;
    margin-bottom: 20px;
    color: white;
}
input::placeholder{
    color: rgb(240, 233, 224);
}